.header--wrapper {
    padding: 20px 20px;
    color: #F2F2F2;
    display: flex;
    font-family: var(--font)
}

.header--title {
    margin-right: auto;
    
}

.header--box {
    border-radius: 5px;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}

.header--links-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.header--links-wrapper > a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.header--links-wrapper > a::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0%;
    height: 3px;
    background-color: #3d8bff;
    border-radius: 5px;
    transition: right 200ms linear;
    transition: width 100ms linear;
}

.header--links-wrapper > a:hover::after {
    transition: width 200ms linear;
    width: 100%;
    left: 0px;
}